ui:
  url: http://localhost:4200

middleware:
  load-defaults: true
  update-defaults: true
  allowed-origins:
  - ${ui.url}
  auth:
    password:
      duration: 180
      min-length: 8
      max-length: 64
    token:
      server-integer: 1
      server-secret: wKFkxTX54UzKx6xCYnC8WlEI2wtOy0PR
      pseudo-random-number-bytes: 64
    registration-token-duration: 14
  mail:
    from: noreply@library.tamu.edu
    replyTo: helpdesk@library.tamu.edu
  http:
    timeout: 60000
    time-to-live: 60000
    request-timeout: 30000
    socket-timeout: 60000
  index:
    cron: 0 0 0 * * SUN
    zone: America/Chicago
    onStartup: true
    onStartupDelay: 10000
    batchSize: 10000
  triplestore:
    type: edu.tamu.scholars.middleware.service.TDBTriplestore
    directory: triplestore
    datasourceUrl: jdbc:mysql://localhost/vivo?useLegacyDatetimeCode=false&serverTimezone=America/Chicago
    username:
    password:
  harvesters:
  - type: edu.tamu.scholars.middleware.discovery.service.jena.TriplestoreHarvester
    documentTypes:
    - edu.tamu.scholars.middleware.discovery.model.Collection
    - edu.tamu.scholars.middleware.discovery.model.Concept
    - edu.tamu.scholars.middleware.discovery.model.Document
    - edu.tamu.scholars.middleware.discovery.model.Organization
    - edu.tamu.scholars.middleware.discovery.model.Person
    - edu.tamu.scholars.middleware.discovery.model.Process
    - edu.tamu.scholars.middleware.discovery.model.Relationship
  indexers:
  - type: edu.tamu.scholars.middleware.discovery.service.solr.SolrIndexer
    documentTypes:
    - edu.tamu.scholars.middleware.discovery.model.Collection
    - edu.tamu.scholars.middleware.discovery.model.Concept
    - edu.tamu.scholars.middleware.discovery.model.Document
    - edu.tamu.scholars.middleware.discovery.model.Organization
    - edu.tamu.scholars.middleware.discovery.model.Person
    - edu.tamu.scholars.middleware.discovery.model.Process
    - edu.tamu.scholars.middleware.discovery.model.Relationship
  export:
    individualKey: individual
    individualBaseUri: ${ui.url}/display

vivo:
  email: vivo_root@school.edu
  password:
  base-url: http://localhost:8080/vivo
  linked-open-data-endpoint: /individual
  list-rdf-endpoint: /listrdf
  sparql-query-endpoint: /api/sparqlQuery

graphql:
  spqr:
    base-packages:
    - edu.tamu.scholars.middleware.discovery.model
    - edu.tamu.scholars.middleware.discovery.response
    - edu.tamu.scholars.middleware.graphql.model
    gui:
      # NOTE: should be false for production
      enabled: true

logging:
  file:
    name: scholars.log
  level:
    edu:
      tamu:
        scholars:
          middleware: INFO
    org:
      springframework:
        security: INFO
        web: INFO

server:
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json
    min-response-size: 1024
  connection-timeout: 900000
  max-http-header-size: 16384
  port: 9000
  servlet:
    context-path:

spring:
  data:
    rest:
      return-body-on-create: true
      return-body-on-update: true
      max-page-size: 10000
    solr:
      host: http://localhost:8983/solr
      operator: OR
      parser: edismax
    # NOTE: this does not work yet, https://jira.spring.io/browse/DATAREST-1290
    web:
      pageable:
        oneIndexedParameters: true
  main:
    allow-bean-definition-overriding: false
  messages:
    basename: i18n/messages
    cache-duration: 15
    encoding: UTF-8
  devtools:
    add-properties: false
    restart:
      enabled: false
      exclude: target
  h2:
    console:
      enabled: false
      path: /h2console
  datasource:
    driverClassName: org.h2.Driver
    platform: h2
    url: jdbc:h2:mem:AZ;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    # url: jdbc:h2:./h2;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: scholars
    password: scholars
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    generate-ddl: true
    hibernate.ddl-auto: create-drop
    open-in-view: false
    properties:
      hibernate:
        enable_lazy_load_no_trans: true
        show_sql: false
    show-sql: false
  mail:
    host: relay.tamu.edu
    #host: smtp.gmail.com
    #username: scholarsdiscovery@gmail.com
    #password:
    #properties:
    #  mail:
    #    transport:
    #      protocol: smtp
    #    smtp:
    #      port: 587
    #      auth: true
    #      starttls:
    #        enable: true
    #        required: true
  profiles:
    active: default
  session:
    store-type: jdbc
    jdbc:
      initialize-schema: always

management:
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      enabled: true
    info:
      enabled: true
