name: Java CI with Maven

on: [push, pull_request, workflow_dispatch]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Cache local Maven repository
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2-

    - name: Tests with Coveralls coverage report
      run: mvn clean test jacoco:report coveralls:report -DdryRun=true

    - name: Coveralls coverage report
      uses: MikeEdgar/github-action@raw_coverage_file
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-file: ./target/coveralls.json
        coverage-format: raw

    - name: Deploy to GitHub pages
      if: github.event.push.base.ref == 'tamu-master'
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: target/generated-docs
        CLEAN: true
        SINGLE_COMMIT: true
